<% layout("/layouts/boilerplate") %>

<div class="row justify-content-center">

<div class="col-md-8">

<h3 class="show-title"><%= listing.title %></h3>

<div class="card show-card">

<img 
src="<%= listing.image.url %>" 
class="card-img-top show-img">

<div class="card-body">

<p class="card-text">
<b>Location:</b> <%= listing.location %>, <%= listing.country %>
</p>

<p class="card-text">
<b>Price:</b> ₹ <%= listing.price.toLocaleString("en-IN") %> / night
</p>

<p class="card-text">
<%= listing.description %>
</p>

</div>

</div>

<br>

<div class="show-btns">

<a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit</a>

<form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">

<button class="btn btn-danger">Delete</button>

</form>

</div>
<hr>
<h4>Add Review</h4>

<form action="/listings/<%= listing._id %>/reviews" method="POST">

    <div class="mb-3">
        <label class="form-label">Rating</label>
        <input 
            type="number" 
            name="review[rating]" 
            min="1" 
            max="5" 
            class="form-control" 
            required
        >
    </div>

    <div class="mb-3">
        <label class="form-label">Comment</label>
        <textarea 
            name="review[comment]" 
            class="form-control" 
            required
        ></textarea>
    </div>

    <button class="btn btn-dark">Submit Review</button>

</form>
<hr>

<h4>All Reviews</h4>

<% if(listing.reviews.length === 0) { %>
    <p>No reviews yet.</p>
<% } %>

<% for(let review of listing.reviews) { %>
    <div class="card mb-2 p-2">
        <p><strong>Rating:</strong> <%= review.rating %></p>
        <p><%= review.comment %></p>
    </div>
<% } %>


</div>
</div>


