<% layout("layouts/boilerplate") %>
<body>
<h1>Listing Details</h1>

<ul>
    <li>Title: <%= listing.title %></li>
    <li>Description: <%= listing.description %></li>
    <li>Price: ₹ <%= listing.price.toLocaleString("en-IN") %></li>
    <li>Location: <%= listing.location %></li>
    <li>Country: <%= listing.country %></li>
</ul>
<br>
<a href="/listings/<%= listing._id %>/edit">
    <button>Edit Listing</button>
</a>
<br>
<br>

<form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
    <button type="submit">Delete Listing</button>
</form>
</body>
